@charset "UTF-8";

.loginview_form {
  /* text-align: center; */
}
.loginview_card table {
  width: 80%;
  margin: 0 auto;
}

.loginview_card table input {
  margin-top: 10px;
}

.loginview_mlad {
  width: 98%;
  height: 40px;
  font-size: 95%;
  /* font-size: 25px;
  position: relative;
  right: 170px; */
}

.loginview_pswd {
  width: 98%;
  height: 40px;
  font-size: 100%;
  /* font-size: 25px;
  position: relative;
  top: 10px;
  right: 195px; */
}

.loginview_ip1 {
  /* position: relative;
  width: 500px;
  height: 50px;
  font-size: 100%; */
}

.loginview_ip2 {
  /* position: relative;
  width: 500px;
  height: 50px;
  font-size: 100%; */
}

.loginview_rgin {
  /* position: relative;
  top: 35px;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #00f;
  border-radius: 5px; */
}

.loginview_rgin:hover {
  background-color: rgb(118, 118, 255);
}

.loginview_new {
  text-align: center;
  margin-bottom: 20px;
  /* font-size: 25px;
  position: relative;
  top: 100px;
  left: 33%; */
}

.loginview_card {
  margin: 10% auto;
  color: black;
  width: 30%;
  height: auto;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(85, 70, 70, 0.2);
}

.loginview_submit input {
  background-color: #00f;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.loginview_submit input:hover {
  background-color: rgb(118, 118, 255);
}

.question_q1 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 200px;
  left: 325px;
  border: 2px solid rgb(100, 100, 255);
  width: 850px;
}

.question_yes {
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #00f;
  padding: 10px;
  position: relative;
  top: 300px;
  left: 400px;
  border: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  width: 250px;
}

.question_yes:hover {
  background-color: rgb(118, 118, 255);
}

.question_no {
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #00f;
  padding: 10px;
  position: relative;
  top: 300px;
  left: 600px;
  border: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  width: 250px;
}

.question_no:hover {
  background-color: rgb(118, 118, 255);
}

.index_f-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(
      100% / 3 - 10px
    );
  gap: 10px;
}

.index_f-item {
  height: 300px;
  text-align: center;
  margin-left: 5px;
  margin-top: 25px;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.index_f-item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.index_f-item:hover {
  color: blue;
  text-decoration: underline;
}

.index_f-item img {
  width: 100%;
  height: 170px;
}

.index_footer {
  width: 650px;
  margin: 0 auto;
}

.index_Pagination {
  display: flex;
  list-style: none;
}

.index_Pagination-Item-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: #00f;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  transition: all 0.15s linear;
  text-decoration: none;
}

.index_Pagination-Item-Link.isActive {
  background-color: rgb(118, 118, 255);
  pointer-events: none;
}

.index_Pagination-Item-Link:not(.isActive):hover {
  background-color: rgb(118, 118, 255);
}

.index_Pagination-Item-Link-Icon {
  width: 20px;
}

.index_Pagination > * + * {
  margin: 0 15px;
}

.index_search {
  font-size: 20px;
  text-align: center;
}

.RegistAccount_content {
  /* width: 500px;
  margin: 3rem auto;
  font-size: 15px; */
}

.RegistAccount_Card {
  margin: 10% auto;
  color: black;
  width: 30%;

  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(85, 70, 70, 0.2);
  text-align: center;
}

.RegistAccount_Card table {
  width: 80%;
  margin: 0 auto;
}
.RegistAccount_Card input {
  margin-top: 10px;
}

.RegistAccount_ip {
  width: 98%;
  height: 40px;
  font-size: 100%;
  /* width: 600px;
  height: 50px;
  font-size: 100%; input入力文字サイズ */
}

.RegistAccount_td td {
  /* padding-top: 15px; */
}

.RegistAccount_btn {
  /* width: 40px;
  text-align: right; */
}

.RegistAccount_submit {
  text-align: right;
  /* color: white;
  font-size: 18px;
  background-color: blue;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 5px; */
}

.RegistAccount_submit input {
  margin-top: 40px;
  background-color: #00f;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.RegistAccount_Cardtitle {
  margin: 25px 0 0 0;
  font-size: 25px;
}

.RegistAccount_submit input:hover {
  background-color: rgb(118, 118, 255);
}

.RegistRecipe_Picform {
  color: #ffffff;
  background-color: #384878;
  border: 10px dotted black;
  border-radius: 10px;
  width: 710px;
  height: 300px;
  position: relative;
  top: 75px;
  left: 450px;
  text-align: center;
}

.RegistRecipe_Picform input[type="file"] {
  cursor: pointer;
  width: 710px;
  height: 300px;
  opacity: 0;
  /* display: none; */
  position: relative;
  bottom: 35px;
  right: 10px;
}

.RegistRecipe_Iconform {
  /* padding: 10px 40px; */
  color: #0a0a0a;
  background-color: #07fb71;
  border: 10px dotted black;
  border-radius: 10px;
  width: 710px;
  height: 300px;
  position: relative;
  top: 40px;
  left: 450px;
  text-align: center;
}

.RegistRecipe_Iconform input[type="file"] {
  cursor: pointer;
  width: 710px;
  height: 300px;
  position: relative;
  opacity: 0;
  /* display: none; */
  position: relative;
  bottom: 35px;
  right: 10px;
}

.registrecipe_page {
  position: relative;
}

.registrecipe_form {
  position: absolute;
  right: 50%;
}

.registrecipe_title {
  position: relative;
  top: 60px;
  left: 250px;
  font-size: 150%;
}

.registrecipe_input-recipe {
  position: relative;
  left: 450px;
  width: 100%;
  height: 50px;
  font-size: 150%;
}

.registrecipe_intro {
  position: relative;
  top: 50px;
  left: 250px;
  font-size: 150%;
}

.registrecipe_intro-text {
  position: relative;
  width: 100%;
  bottom: 10px;
  left: 450px;
  font-size: 200%;
}

.registrecipe_mate {
  position: relative;
  top: 25px;
  left: 140px;
  font-size: 150%;
}

.registrecipe_amou {
  position: relative;
  top: 25px;
  left: 390px;
  font-size: 150%;
}

.registrecipe_mate-text {
  position: relative;
  top: 25px;
  left: 450px;
  font-size: 150%;
  margin-top: 20px;
}

.registrecipe_amou-text {
  position: relative;
  top: 25px;
  left: 550px;
  font-size: 150%;
  margin-top: 20px;
}

.registrecipe_add1 {
  position: relative;
  top: 75px;
  left: 510px;
  width: 25%;
  font-size: 150%;
}

.registrecipe_delete1 {
  position: relative;
  top: 75px;
  left: 745px;
  width: 25%;
  font-size: 150%;
}

.registrecipe_method {
  position: relative;
  top: 100px;
  left: 250px;
  font-size: 150%;
}

.registrecipe_method-num {
  position: relative;
  top: 50px;
  left: 415px;
  font-size: 150%;
}

.registrecipe_method-text {
  position: relative;
  left: 450px;
  width: 136%;
  font-size: 150%;
  margin-top: 20px;
}

.registrecipe_add2 {
  position: relative;
  top: 50px;
  left: 510px;
  width: 25%;
  font-size: 150%;
}

.registrecipe_delete2 {
  position: relative;
  top: 50px;
  left: 745px;
  width: 25%;
  font-size: 150%;
}

.registrecipe_icon1 {
  position: relative;
  top: 100px;
  left: 250px;
  font-size: 150%;
}

.registrecipe_icon2 {
  position: relative;
  top: 150px;
  left: 250px;
  font-size: 150%;
}

.registrecipe_point {
  position: absolute;
  left: 665px;
  font-size: 150%;
}

.registrecipe_point-title {
  position: relative;
  top: 150px;
  left: 450px;
  font-size: 150%;
}

.registrecipe_pub {
  position: relative;
  top: 180px;
  left: 450px;
  font-size: 150%;
}

.registrecipe_pub-sel {
  position: relative;
  top: 15px;
  left: 490px;
  font-size: 125%;
}

.registrecipe_reg {
  position: relative;
  top: 250px;
  left: 635px;
  width: 50%;
  font-size: 200%;
  margin-bottom: 100px;
}

.registrecipe_Iconpics {
  position: relative;
  bottom: 175px;
  left: 800px;
}

.registrecipe_Imgpics {
  position: relative;
  bottom: 375px;
  left: 10px;
}

footer {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background-color: rgb(221, 217, 217);
}
