@charset "UTF-8";

.loginview_form {
  text-align: center;
}

.loginview_mlad {
  font-size: 25px;
  position: relative;
  right: 170px;
}

.loginview_pswd {
  font-size: 25px;
  position: relative;
  top: 10px;
  right: 195px;
}

.loginview_ip1 {
  position: relative;
  width: 500px;
  height: 50px;
  font-size: 100%;
}

.loginview_ip2 {
  position: relative;
  width: 500px;
  height: 50px;
  font-size: 100%;
}

.loginview_rgin {
  position: relative;
  top: 35px;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #00f;
  border-radius: 5px;
}

.loginview_rgin:hover {
  background-color: rgb(118, 118, 255);
}

.loginview_new {
  font-size: 25px;
  position: relative;
  top: 100px;
  left: 33%;
}

.question_q1 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 200px;
  left: 325px;
  border: 2px solid rgb(100, 100, 255);
  width: 850px;
}

.question_yes {
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #00f;
  padding: 10px;
  position: relative;
  top: 300px;
  left: 400px;
  border: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  width: 250px;
}

.question_yes:hover {
  background-color: rgb(118, 118, 255);
}

.question_no {
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #00f;
  padding: 10px;
  position: relative;
  top: 300px;
  left: 600px;
  border: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  width: 250px;
}

.question_no:hover {
  background-color: rgb(118, 118, 255);
}

.index_f-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index_f-item {
  width: 25%;
  height: auto;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  text-decoration: none;
}

.index_f-item:hover {
  color: blue;
  text-decoration: underline;
}

.index_f-item img {
  width: 350px;
  height: 350px;
}

.RegistAccount_content {
  width: 500px;
  margin: 3rem auto;
  font-size: 15px;
}

.RegistAccount_ip {
  width: 600px;
  height: 50px;
  font-size: 100%; /*input入力文字サイズ*/
}

.RegistAccount_td td {
  padding-top: 15px;
}

.RegistAccount_btn {
  width: 40px;
  text-align: right;
}

.RegistAccount_submit {
  color: white;
  font-size: 18px;
  background-color: blue;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 5px;
}

.RegistAccount_submit:hover {
  background-color: rgb(118, 118, 255);
}
